<html>
 <head>
     <title>
         <%=title %>
     </title>
 </head>

 <body>
     <h1> codeial / <%=title %></h1>
 </body>

 <section id="feed-post">
     <h4> Posts</h4>
     <form action="" id="new-post-feed" method="POST">
         <textarea name="Content" id="" cols="30" rows="3"></textarea>
         <input type="submit" value="Post">
     </form>
 </section>
</html>